<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    <title>studioeo</title>
      <meta name="description" content="exhibition space based in Milano"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>

</head>
<body>
    <img src="./sfondo.jpg"  srcset="./sfondo.jpg" alt="immaginesfondo" class="imgSfondo">
    <script src="jquery.ui.touch-punch.min.js"></script>
    <script src="bundle.js"></script>
    <script src="p5.min.js"></script>
    <script src="gVillani/Linee_da_Fulcro_p5js_v2_WORKING_INSTANCE.js"></script>
</body>
</html>