@media only screen and (max-width: 768px) {
    #about{
        top: 69%;
        left: 6%;
    }
    #exhib{
        top: 10%;
        left: 50%;
    }
    #gVillani{
        top: 3%;
        left: 4%;
    }
    #mailList{
        top: 78%;
        left: 55%;
    }
}