body{
  font-family: 'Grenze', serif;
  font-size: 1.3vw;
}

.menu{
  width: fit-content; 
  /* padding: 1px; */
  margin: auto;
  position: fixed;
  bottom: 5%;
  left: 3%;
  /* line-height: 7px;*/
}
.voxMenu{
  width: fit-content;
  padding: 2%;
  /* margin: 22% auto; */
}



.window{
  position: absolute;
  width: 80%;
  height: 463px;
  border-style: solid;
  background-color: white;
}
.wContent{
  max-height: 285px;
  overflow: auto;
  max-height: 406px;
  padding-left: 3vw;
}
.close{
  float: right;
  margin-right: 2px;
}
.wHeader{
  border-bottom-style: solid;
  padding: 4px;
  font-size: 2vw;
}
.wHeader:hover{
  color: wheat;
  background-color: black;
}
.subBtn{
  border-style: solid;
  font-size: 2vw;
  cursor: context-menu;
  padding: 0.4vw;
}
.subBtn:hover{
  color: wheat;
  background-color: black;
}
.menuIcon {
  border-style: solid;
  width: fit-content;
  border-radius: 100%;
  line-height: 93%;
  padding: 27%;
}

.wContent p {
  border-style: solid;
  height: fit-content;
  padding: 1vw;
  line-height: 3vw;
  margin-right: 4vw;
}
